<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userFileData">
            <h2><span jhiTranslate="hrmsGatewayApp.userappUserFileData.detail.title">User File Data</span> {{ userFileData.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hrmsGatewayApp.userappUserFileData.filename">Filename</span></dt>
                <dd>
                    <span>{{ userFileData.filename }}</span>
                </dd>
                <dt><span jhiTranslate="hrmsGatewayApp.userappUserFileData.url">Url</span></dt>
                <dd>
                    <span>{{ userFileData.url }}</span>
                </dd>
                <dt><span jhiTranslate="hrmsGatewayApp.userappUserFileData.size">Size</span></dt>
                <dd>
                    <span>{{ userFileData.size }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-file-data', userFileData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
