<div>
    <h2 id="page-heading">
        <div *ngIf="jobpostInQuestion">
        <span *jhiHasAnyAuthority="'ROLE_ADMIN'">Candidatures pour le poste <a [routerLink]="['/jobpost', jobpostInQuestion.id, 'view']"> {{ jobpostInQuestion.positionName }}  </a> </span>
        </div>
        <!--
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application" [routerLink]="['/application/new']">
                    <fa-icon icon="plus"></fa-icon>
                   <span  jhiTranslate="hrmsGatewayApp.applicationappApplication.home.createLabel">
                    Create a new Application
                    </span>
        </button>
        -->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="applications?.length === 0">
        <span jhiTranslate="hrmsGatewayApp.applicationappApplication.home.notFound">No applications found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applications && applications.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>

                    <th scope="col" *jhiHasAnyAuthority="'ROLE_ADMIN'" ><span >Candidat</span></th>
                    <th scope="col" ><span>Presélection</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.applicationappApplication.creationDate">Date d'application</span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let application of applications ;trackBy: trackId">
                    <td *jhiHasAnyAuthority="'ROLE_ADMIN'" ><a [routerLink]="['/application', application.id, 'view']">{{ application.fullName }}</a></td>
                    <td>
                        <ng-container *ngIf="application.shortListed">
                            oui
                        </ng-container>
                        <ng-container *ngIf="!application.shortListed ">
                            non
                        </ng-container>

                    </td>
                    <td>{{ application.creationDate | date:'medium' }}</td>
                    <td>{{ application.conclusion }}</td>
                    <td *jhiHasAnyAuthority="'ROLE_CANDIDATE'">
                        <button type="button"
                                [routerLink]="['/jobpost',  application.jobpostId,  'view']"
                                class="btn btn-secondary">
                            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Offre d'emploi concerné</span>
                        </button>
                    </td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"  *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                    [routerLink]="['/user_details',application.candidateId,  application.id ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">détails de la candidatures</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/application', application.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Accepter</span>
                            </button>

                            <button type="submit" (click)="delete(application)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Rejeter</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
