<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrmsGatewayApp.userappCandidate.home.title">Candidats</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidate" [routerLink]="['/candidate/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Créer un nouveau candidat
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="candidates?.length === 0">
        <span jhiTranslate="hrmsGatewayApp.userappCandidate.home.notFound">No candidates found</span>
    </div>
    <input type="text" class="form-control" placeholder="Nom, position, email " [(ngModel)]="searchText" (input) ="onSearchChange()"> <a class="srh-btn"></a>
    <div class="table-responsive" id="entities" *ngIf="candidates && candidates.length > 0">
            <table class=" table .table-hover" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="personalStatement"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span>Télephone</span> <fa-icon icon="sort"></fa-icon></th>


                    <th scope="col"  jhiSortBy="degreeId"><span>Niveau d'étude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" ><span>Action</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let candidate of filteredCandidates trackBy: trackId">
                    <td><a [routerLink]="['/candidate', candidate.id, 'view']">{{ candidate.firstName }} {{ candidate.lastName}}</a></td>
                    <td>{{ candidate.email }}</td>
                    <td>{{ candidate.phone }}</td>

                    <td>
                        <div *ngIf="candidate.degreeId">
                            <a [routerLink]="['/degree-level', candidate.degreeId , 'view']" >{{ candidate.degreeName }}</a>
                        </div>
                    </td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/skill', candidate.id, 'matrix-skills' ]"
                                    class=" btn-warning btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Compétences</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/user_details',  candidate.id,  1 ]"
                                    class=" btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/candidate', candidate.id, 'edit']"
                                    class=" btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(candidate)"
                                    class=" btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
