<div class="row justify-content-center">
    <div class="col-8">
        <form class="form-horizontal form-material" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

            <div class="form-group text-right">
                <label for="file">Upload un cv</label>
                <input type="file" class="btn-file"
                       id="file"
                       (change)="uploadFile($event)">
            </div>

            <div>
                <jhi-alert-error></jhi-alert-error>

         <!--       <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

-->
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="form-title">Information Personnel</h3>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="field_firstName">Prénom</label>
                                                        <input type="text" class="form-control form-control-line" name="firstName" id="field_firstName"
                                                               formControlName="firstName"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="field_lastName">Nom</label>
                                                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                                                           formControlName="lastName"/>
                                                </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="field_address_street">Address email</label>
                                                    <input type="email" class="form-control" name="email" id="field_email"
                                                           formControlName="email"/>
                                                </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label">Téléphone</label>
                                                    <input type="number" class="form-control" name="phone" id="field_phone"
                                                           formControlName="phone"/>
                                                </div>
                                                </div>

                                                <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="field_address_street">Rue</label>
                                                    <input type="string" class="form-control" name="street" id="field_address_street"
                                                           formControlName="street"/>
                                                </div>
                                                </div>
                                                    <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                    <label class="form-control-label" for="field_address_postalcode">Code postal</label>
                                                    <input type="number" class="form-control" name="postalCode" id="field_address_postalCode"
                                                           formControlName="postalCode"/>
                                                        </div>
                                                    </div>
                                                        <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                    <label class="form-control-label" for="field_address_city">ville</label>
                                                    <input type="string" class="form-control" name="city" id="field_address_city"
                                                           formControlName="city"/>
                                                        </div>
                                                        </div>
                                                            <div class="col-md-6 col-12">
                                                            <div class="form-group">
                                                    <label class="form-control-label" for="field_address_state">Gouvernerat</label>
                                                    <input type="string" class="form-control" name="state" id="field_address_state"
                                                           formControlName="state"/>
                                                            </div>
                                                            </div>
                                                </div>
                                                <div class="row">
                                                <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="field_address_state">Niveau d'étude</label>
                                                    <select class="form-control" id="field_degree" name="degree" formControlName="degreeId" >
                                                        <option [ngValue]="null" hidden> choisir... </option>
                                                        <option [ngValue]="degreeLevelOption.id"  *ngFor="let degreeLevelOption of degreelevels; trackBy: trackById" [selected]="degreeLevelOption.selected == true">{{ degreeLevelOption.name }}</option>
                                                    </select>
                                                </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="field_address_state">Année d'experience</label>
                                                            <select class="form-control" id="field_exp_duration" name="degree" formControlName="experienceDurationId" >
                                                                <option [ngValue]="null" hidden> choisir... </option>
                                                                <option [ngValue]="experienceDurationOption.id"  *ngFor="let experienceDurationOption of experienceDurations; trackBy: trackById" [selected]="experienceDurationOption.selected == true">{{ experienceDurationOption.value }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                             </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>


                <!--    <div class="form-group"  *ngIf="hrmsGatewayApp.userappCandidate.professionalExperiences.length > 0">

                            <h2> Professional Experiences</h2>

                            <div *ngfor="let exp of professionalExperiences; let index = index;">

                                 <input type="string" class="form-control" name="place" id="field_address_place"
                           formControlName="exp"/>

                            </div>
                            -->

                            <div formArrayName="professionalExperiences">
                                <section id="multiple-column-form1">
                                    <div class="row match-height">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="form-title">Experience professionelle</h3>
                                                </div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div *ngFor="let exp of professionalExperiences.controls; let i=index">
                                                            <div *ngIf="exp === professionalExperiences.controls[currentIndex]">
                                                            <div [formGroupName]="i">
                                                                <div class="row">
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                <label class="form-control-label" for="field_place">Nom de l'entreprise</label>
                                                                <input type="string" class="form-control" formControlName="place" placeholder="entreprise" id="field_exp_place{{i}}">
                                                                    </div>
                                                                </div>
                                                                        <div class="col-md-6 col-12">
                                                                            <div class="form-group">
                                                                <label class="form-control-label" for="field_post"> Position</label>
                                                                <select class="form-control" id="field_position{{i}}" name="position{{i}}" formControlName="positionId" [selectedIndex]="findPosition(exp.value.positionId)" >
                                                                    <option [ngValue]="null"></option>
                                                                    <option  [ngValue]="positionOptions.id"  *ngFor="let positionOptions of positions; trackBy: trackById">{{  positionOptions.jobTitle }}</option>
                                                                </select>
                                                                                </div>
                                                                            </div>
                                                                </div>

                                                                                    <div class="form-group">
                                                                <label class="form-control-label" for="description">Description</label>
                                                                <textarea class="form-control" formControlName="description" placeholder="description" id="field_exp_description{{i}}"> </textarea>
                                                                                    </div>

                                                                <div class="row">
                                                                                        <div class="col-md-6 col-12">
                                                                                            <div class="form-group">

                                                                <label class="form-control-label" for="field_start_date"> Date de début</label>
                                                                <ngb-datepicker  #d="ngbDatepicker" #d [startDate]="{year: exp.value.startYear, month:exp.value.startMonth, day: exp.value.startDay}"   class="form-control" formControlName="startDate"  id="field_exp_start_date{{i}}">
                                                                </ngb-datepicker>
                                                                                                </div>
                                                                                            </div>
                                                                                                <div class="col-md-6 col-12">
                                                                                                    <div class="form-group">
                                                                <label class="form-control-label" for="field_end_date"> Date de fin</label>
                                                                <ngb-datepicker
                                                                         #d="ngbDatepicker" #d [startDate]="{year: exp.value.endYear, month:exp.value.endMonth, day: exp.value.endDay}"
                                                                            class="form-control" formControlName="endDate"  id="field_exp_end_date{{i}}">
                                                                    </ngb-datepicker>
                                                                                                    </div>
                                                                                                </div>
                                                                <!--  <button (click)="removeSkill(i)">Remove</button> -->
                                                                </div>

                                                            </div>
                                                            </div>

                                                        </div>
                                                        <div class="text-right">
                                                            <button type="button" class=" btn btn-info  " [disabled]="isFirstExp()"  (click)="previous()">prec </button>
                                                            <button type="button" class=" btn btn-info  " [disabled]="isLastExp()"  (click)="next()">suiv </button>

                                                        </div>
                                                        <button type="button" class=" btn-info btn-sm " (click)="addProfessionalExperience()">Ajouter Une experience </button>


                                                    </div>
                                                </div>




                                                    </div>
                                                </div>
                                            </div>
                                </section>
                                        </div>
                <div formArrayName="academicExperiences">
                    <section id="multiple-column-form2">
                        <div class="row match-height">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="form-title">Experience Academique</h3>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div *ngFor="let expAcad of academicExperiences.controls; let i=index">
                                                <div *ngIf="expAcad === academicExperiences.controls[currentIndexExpAcademic]">
                                                    <div [formGroupName]="i">
                                                        <div class="row">
                                                            <div class="col-md-6 col-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="field_place">Nom de l'entreprise</label>
                                                                    <input type="string" class="form-control" formControlName="place" placeholder="entreprise" id="field_acad_place{{i}}">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="field_post"> diplome</label>
                                                                    <input type="string" class="form-control" formControlName="degreeName" placeholder="diplome" id="field_acad_degree{{i}}">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="form-control-label" for="description">Description</label>
                                                            <textarea class="form-control" formControlName="description" placeholder="description" id="field_acad_description{{i}}"> </textarea>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-6 col-12">
                                                                <div class="form-group">

                                                                    <label class="form-control-label" for="field_start_date"> Date de début</label>
                                                                    <ngb-datepicker  #d="ngbDatepicker" #d [startDate]="{year: expAcad.value.startYear, month:expAcad.value.startMonth, day: expAcad.value.startDay}"   class="form-control" formControlName="startDate"  id="field_acad_start_date{{i}}">
                                                                    </ngb-datepicker>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="field_end_date"> Date de fin</label>
                                                                    <ngb-datepicker
                                                                        #d="ngbDatepicker" #d [startDate]="{year: expAcad.value.endYear, month:expAcad.value.endMonth, day: expAcad.value.endDay}"
                                                                        class="form-control" formControlName="endDate"  id="field_acad_end_date{{i}}">
                                                                    </ngb-datepicker>
                                                                </div>
                                                            </div>
                                                            <!--  <button (click)="removeSkill(i)">Remove</button> -->
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="text-right">
                                                <button type="button" class=" btn btn-info  " [disabled]="isFirstAcadExp()"  (click)="previousAcad()">prec </button>
                                                <button type="button" class=" btn btn-info  " [disabled]="isLastAcadExp()"  (click)="nextAcad()">suiv </button>

                                            </div>
                                            <button type="button" class=" btn-info btn-sm " (click)="addAcademicExperience()">Ajouter Une experience </button>


                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                                    </div>




          <!-- List of skills-->
                <div class="form-group">

                    <!--    <div class="form-group"  *ngIf="hrmsGatewayApp.userappCandidate.professionalExperiences.length > 0">

                                <h2> Professional Experiences</h2>

                                <div *ngfor="let exp of professionalExperiences; let index = index;">

                                     <input type="string" class="form-control" name="place" id="field_address_place"
                               formControlName="exp"/>

                                </div>
                                -->
                        <br> <br>
                    <div formArrayName="skills">
                        <section id="multiple-column-form3">
                            <div class="row match-height">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="form-title">Competence</h3>

                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div  *ngFor="let exp of userskills.controls; let i=index">

    <div class="row">
                                                    <div class="col-lg-3" >
                                                        <div [formGroupName]="i" >

                                                            <div *ngIf=" exp.value.changeable; else elseBlock">
                                                                <select class="form-control" id="field_skills{{i}}" name="skills{{i}}" formControlName="id" >
                                                                    <option [ngValue]="null"></option>
                                                                    <option [ngValue]="skillOption.id" *ngFor="let skillOption of availableSkills; trackBy: trackById">{{  skillOption.name }}</option>
                                                                </select>
                                                            </div>
                                                            <ng-template #elseBlock>
                                                                <div class="form-group">
                                                                    <input type="string" class="form-control" formControlName="name" placeholder="Item name" id="field_skill{{i}}" readonly>

                                                                </div>
                                                            </ng-template>
                                                            <div class="form-group">
                                                                <label class="form-control-label"  for="field_level{{i}}">Niveau </label>
                                                                <select class="form-control" name="employmentType" formControlName="skillLevel" id="field_level{{i}}">
                                                                    <option value="NOVICE"> Novice </option>
                                                                    <option value="INTERMEDIATE">Intermediare</option>
                                                                    <option value="ADVANCED">Avancé</option>
                                                                    <option value="EXPERT">Expert</option>
                                                                    <!--  -->
                                                                </select>
                                                            </div>


                                                            <!--  <button (click)="removeSkill(i)">Remove</button> -->
                                                        </div>
                                                    </div>
        </div>
                                                </div>
                                                <button type="button" class="btn-info btn-sm" (click)="addSkill()">Ajouter une compétence </button>

                                            </div>

                                        </div>
                                                </div>
</div>
                                        </div>
                        </section>

                                    </div>

                    <div class="text-right">
                        <button type="submit"  id="save-entity" [disabled]="editForm.invalid || isSaving" class=" btn-success btn-sm">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                            </div>



        </form>
    </div>
</div>


