<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="professionalExperience">
            <h2><span jhiTranslate="hrmsGatewayApp.userappProfessionalExperience.detail.title">Professional Experience</span> {{ professionalExperience.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hrmsGatewayApp.userappProfessionalExperience.place">Place</span></dt>
                <dd>
                    <span>{{ professionalExperience.place }}</span>
                </dd>
                <dt><span jhiTranslate="hrmsGatewayApp.userappProfessionalExperience.post">Post</span></dt>
                <dd>
                    <span>{{ professionalExperience.positionId }}</span>
                </dd>
                <dt><span jhiTranslate="hrmsGatewayApp.userappProfessionalExperience.description">Description</span></dt>
                <dd>
                    <span>{{ professionalExperience.description }}</span>
                </dd>
                <dt><span jhiTranslate="hrmsGatewayApp.userappProfessionalExperience.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ professionalExperience.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="hrmsGatewayApp.userappProfessionalExperience.endDate">End Date</span></dt>
                <dd>
                    <span>{{ professionalExperience.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="hrmsGatewayApp.userappProfessionalExperience.candidate">Candidate</span></dt>
                <dd>
                    <div *ngIf="professionalExperience.candidateId">
                        <a [routerLink]="['/candidate', professionalExperience.candidateId, 'view']">{{ professionalExperience.candidateId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/professional-experience', professionalExperience.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
