<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Profile</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <!-- Add css class to center image -->
                <div  class="m-t-30 profile-center "> <img src="../../content/images/jhipster_family_member_0_head-256.png" class="img-circle" width="150" />
                    <h4 class="card-title m-t-10"></h4>
                    <h6 class="card-subtitle">Accounts Manager Amix corp</h6>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                    </div>
                </div>
            </div>
        </div>

        </div>

    <!-- Column -->
    <!-- Column -->


 <!--   <div class="col-lg-8 col-xlg-9 col-md-7"> -->
        <div class="col-lg-3">
            <div class="card">

                <div class="card-body profile-center">

                        <img src="../../content/images/edu.png" />

                    <h1 class="card-title"> Education</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        <div class="card">
            <!-- Tab panes -->

            <div class="card-body">

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="thead-light">
                        <th> Diplome </th>
                        <th> Institut </th>
                        </thead>
                        <tbody>
                        <tr>
                        <td> License </td>
                        <td> ISI Ariana </td>
                        </tr>
                        <tr>
                            <td> Ingenieurie </td>
                            <td> ESPRIT </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                <!--      <form class="form-horizontal form-material">
                          <div class="form-group">
                              <label class="col-md-12">Full Name</label>
                              <div class="col-md-12">
                                  <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="example-email" class="col-md-12">Email</label>
                              <div class="col-md-12">
                                  <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-12">Password</label>
                              <div class="col-md-12">
                                  <input type="password" value="password" class="form-control form-control-line">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-12">Phone No</label>
                              <div class="col-md-12">
                                  <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-12">Message</label>
                              <div class="col-md-12">
                                  <textarea rows="5" class="form-control form-control-line"></textarea>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">Select Country</label>
                              <div class="col-sm-12">
                                  <select class="form-control form-control-line">
                                      <option>London</option>
                                      <option>India</option>
                                      <option>Usa</option>
                                      <option>Canada</option>
                                      <option>Thailand</option>
                                  </select>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <button class="btn btn-success">Update Profile</button>
                              </div>
                          </div>
                      </form> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title m-t-10"> Information Personnel</h3>
                <!-- Table Information personnel start -->
                <section class="section">
                    <div class="row" id="table-head">
                        <div class="col-12">
                            <!--  <div class="card">
                                  <div class="card-header">
                                      <h4 class="card-title">Table head options</h4>
                                  </div>
                                  <div class="card-content">
                                      <div class="card-body">
                                          <p>Similar to tables and dark tables, use the modifier classes <code
                                              class="highlighter-rouge">.thead-light</code> or <code
                                              class="highlighter-rouge">.thead-dark</code> to
                                              make <code class="highlighter-rouge">&lt;thead&gt;</code>s appear light or
                                              dark gray.
                                          </p>
                                      </div> -->
                            <!-- table head dark -->
                            <div class="table-responsive">
                                <table class="table mb-0">

                                    <tbody>
                                    <tr>
                                        <th> Nom et prénom</th>
                                        <td class="text-bold-500">{{candidate.firstName}} {{ candidate.lastName}}</td>

                                    </tr>
                                    <tr>
                                        <th> Téléphone </th>
                                        <td class="text-bold-500">{{candidate.phone}}</td>

                                    </tr>
                                    <tr>
                                        <th> Address mail</th>
                                        <td class="text-bold-500">{{candidate.email}}</td>

                                    </tr>
                                    <tr>
                                        <th> Address actuelle</th>
                                        <td class="text-bold-500" >
                                            <div *ngIf="candidate.address">
                                                {{candidate.address.street}}

                                                {{candidate.address.city}}
                                                {{candidate.address.state}}
                                            </div>


                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </section>
                <!-- Information personnel end-->
            </div>
        </div>
    </div>
        <div class="col-lg-3">
            <div class="card">

                <div class="card-body profile-center">

                    <img src="../../content/images/exp.png" />

                    <h1 class="card-title"> Experience </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <!-- Tab panes -->

                <div class="card-body">

                    <div class="table-responsive" *ngIf=" candidate.professionalExperience && candidate.professionalExperience.length > 0">
                        <table class="table mb-0">
                            <thead class="thead-light">
                            <th> Entreprise </th>
                            <th> Position </th>
                            <th> Date de début</th>
                            <th> Date de fin</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let exp of candidate.professionalExperience">
                               <td> {{exp.place}}</td>
                                <td> {{exp.positionTitle}}</td>
                                <td> {{ exp.startDate | date: 'mediumDate'}}</td>
                                <td> {{ exp.endDate | date: 'mediumDate'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3 *ngIf="candidate.professionalExperience && candidate.professionalExperience.length <= 0"> Pas d'experience precedente </h3>
                </div>

    </div>

        </div>
        <div class="col-lg-12">
        <jhi-skill-matrix [userId]="candidate.id"></jhi-skill-matrix>
            </div>
    </div>

    <!-- Column -->

<!-- Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Container fluid  -->

