<main>

    <!-- Hero Area Start
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="content/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>UI/UX Designer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div *ngIf="jobpost" class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <!--    <a href="#"><img src="content/images/logo-jhipster.png" alt=""></a> -->
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>{{jobpost.title}}</h4>
                                </a>
                                <ul>
                                    <li> {{jobpost.positionName}}</li>
                                    <li> <i class="fas fa-map-marker-alt"></i> <span *ngIf="jobpost.type==='REMOTE' else otherType"> Télétravail </span>
                                        <ng-template #otherType>
                                            <span>  Présentiel </span>
                                        </ng-template>
                                    </li>



                                    <li>{{jobpost.estimatedSalary}} TND</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Description</h4>
                            </div>
                            <p> {{jobpost.description}}</p>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Profile recherché</h4>
                            </div>
                            <ul>
                                <li>System Software Development</li>
                                <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                                <li>Research and code , libraries, APIs and frameworks</li>
                                <li>Strong knowledge on software development life cycle</li>
                                <li>Strong problem solving and debugging skills</li>
                            </ul>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Compétence requise</h4>
                            </div>
                            <ul>
                                <li *ngFor="let skill  of jobpost.skills">  {{skill.name}} </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Details de l'offre</h4>
                        </div>
                        <ul>
                            <li>Posted date : <span>{{jobpost.createdAt | date : 'mediumDate'}}</span></li>
                            <li>Location : <span *ngIf="jobpost.type==='REMOTE' else otherType"> Télétravail </span>
                                    <ng-template #otherType>
                                        <span>  Sur place </span>
                                    </ng-template>
                                </li>
                            <li>Poste ouvert : <span>02</span></li>
                            <li>Type d'emploi : <span *ngIf="jobpost.employmentType==='FULL_TIME'"  >Plein temps</span>
                                <span *ngIf="jobpost.employmentType==='PART_TIME'"  >Mi-temps</span>
                                <span *ngIf="jobpost.employmentType==='SEASONAL'"  >Seasonier</span>
                                <span *ngIf="jobpost.employmentType==='INTERNSHIP'"  >Intern</span>

                            </li>
                            <li>Salaire annuel :  <span> {{jobpost.estimatedSalary}} TND</span></li>
                           <!-- <li>Application date : <span>12 Sep 2020</span></li> -->
                        </ul>
                        <div class="apply-btn2">
                            <div *ngIf="jobpost">
                            <a [routerLink]="['/candidate',  jobpost.id,  'postuler']" class="  apply-job">Postuler Maintenant</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                       <!-- <div class="small-section-tittle">
                            <h4>Company Information</h4>
                        </div>
                        <span>Colorlib</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <ul>
                            <li>Name: <span>Colorlib </span></li>
                            <li>Web : <span> colorlib.com</span></li>
                            <li>Email: <span>carrier.colorlib@gmail.com</span></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>

<!--
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jobpost">
            <h2><span> {{jobpost.title}} </span> </h2>

                <span>

                    <ng-container *ngIf="jobpost.type!.toString() === 'REMOTE' ">
                              <h2>  <b> Remote </b> </h2>
                               </ng-container>

                               <ng-container *ngIf="jobpost.type!.toString() === 'ON_SITE' ">
                                 <h2> <b> On site </b> </h2>
                               </ng-container>



                </span>
            <button type="button"
                    [routerLink]="['/candidate',  jobpost.id,  'postuler']"
                    class="btn btn-primary btn-lg" >
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span> Postuler pour ce job </span>
            </button>
            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">

                <dt><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.description">Description</span></dt>
                <dd>
                    <span>{{ jobpost.description }}</span>
                </dd>
                <dt><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.estimatedSalary">Estimated Salary</span></dt>
                <dd>
                    <span>{{ jobpost.estimatedSalary }}</span>
                </dd>

                <dt><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.degreeLevel">Degree Level</span></dt>
                <dd>
                    <div *ngIf="jobpost.degreeLevelId">
                        <a [routerLink]="['/degree-level', jobpost.degreeLevelId, 'view']">{{ jobpost.degreeLevelId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.positon">Positon</span></dt>
                <dd>
                    <div *ngIf="jobpost.positonId">
                        <a [routerLink]="['/position', jobpost.positonId, 'view']">{{ jobpost.positonId }}</a>
                    </div>
                </dd>
            </dl>

           <h2> <span> Compétence requise </span> </h2>

                <div *ngFor="let skill of jobpost.skills">
                    {{skill.name}} <br>
                </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
-->
          <!--  <button type="button"
                    [routerLink]="['/jobpost', jobpost.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
            </button>


        </div>
    </div>
</div>
-->
