<div>
    <h2 id="page-heading">
        <span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.home.title">Jobposts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jobpost" [routerLink]="['/jobpost/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hrmsGatewayApp.jobpostingJobpost.home.createLabel">
            Create a new Jobpost
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jobposts?.length === 0">
        <span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.home.notFound">No jobposts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobposts && jobposts.length > 0">
        <table  class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.estimatedSalary">Estimated Salary</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.employmentType">Employment Type</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.modifiedAt">Modified At</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.degreeLevel">Degree Level</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.positon">Positon</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jobpost of jobposts ;trackBy: trackId">
                    <td><a [routerLink]="['/jobpost', jobpost.id, 'view']">{{ jobpost.id }}</a></td>
                    <td>{{ jobpost.title }}</td>
                    <td>{{ jobpost.description }}</td>
                    <td>{{ jobpost.estimatedSalary }}</td>
                    <td jhiTranslate="{{ 'hrmsGatewayApp.LocationType.' + jobpost.type }}">{{ jobpost.type }}</td>
                    <td jhiTranslate="{{ 'hrmsGatewayApp.EmploymentType.' + jobpost.employmentType }}">{{ jobpost.employmentType }}</td>
                    <td>{{ jobpost.createdAt | date:'medium' }}</td>
                    <td>{{ jobpost.modifiedAt | date:'medium' }}</td>
                    <td>
                        <div *ngIf="jobpost.degreeLevelId">
                            <a [routerLink]="['/degree-level', jobpost.degreeLevelId , 'view']" >{{ jobpost.degreeLevelName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="jobpost.positonId">
                            <a [routerLink]="['/position', jobpost.positonId , 'view']" >{{ jobpost.positionName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/jobpost', jobpost.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/skill', jobpost.id, 'candidates-skills']"
                                    class="btn btn-light btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">matrice de compétence</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/application', jobpost.id, 'jobpost']"
                                    class="btn btn-done btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">applications</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/jobpost', jobpost.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jobpost)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
