<div>
    <h2 id="page-heading">
        <span>Poste d'emploi</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jobpost" [routerLink]="['/jobpost/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Ajouter un nouveau poste
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jobposts?.length === 0">
        <span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.home.notFound">No jobposts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobposts && jobposts.length > 0">
        <table  class="table vm no-th-brd pro-of-month" aria-describedby="page-heading" id="table1">
            <thead>
                <tr>

                    <th scope="col" ><span >titre</span></th>
                    <th scope="col" ><span>salaire</span></th>
                    <th scope="col" ><span>Mode de travail</span></th>
                    <th scope="col" ><span >type d'emploi</span></th>
                  <!--  <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.modifiedAt">Modified At</span></th> -->
                    <th scope="col" ><span >Niveau d'étude</span></th>
                    <th scope="col" ><span jhiTranslate="hrmsGatewayApp.jobpostingJobpost.positon">Positon</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let jobpost of jobposts ;trackBy: trackId">
                    <td>{{ jobpost.title }}</td>
                    <td>{{ jobpost.estimatedSalary }} TND</td>
                    <td >
                        <span *ngIf="jobpost.type==='REMOTE' else otherType"> Télétravail </span>
                        <ng-template #otherType>
                            <span>  Présentiel </span>
                        </ng-template>


                    </td>
                    <td>

                        <span *ngIf="jobpost.employmentType==='FULL_TIME'"  >Plein temps</span>
                        <span *ngIf="jobpost.employmentType==='PART_TIME'"  >Mi-temps</span>
                        <span *ngIf="jobpost.employmentType==='SEASONAL'"  >Seasonier</span>
                        <span *ngIf="jobpost.employmentType==='INTERNSHIP'"  >Intern</span>

                    </td>
                  <!--  <td>{{ jobpost.createdAt | date:'medium' }}</td>
                    <td>{{ jobpost.modifiedAt | date:'medium' }}</td> -->
                    <td>
                        <div *ngIf="jobpost.degreeLevelId">
                            <a [routerLink]="['/degree-level', jobpost.degreeLevelId , 'view']" >{{ jobpost.degreeLevelName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="jobpost.positonId">
                            <a [routerLink]="['/position', jobpost.positonId , 'view']" >{{ jobpost.positionName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/application', jobpost.id, 'jobpost']"
                                    class="btn-success btm-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Candidatures</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/jobpost', jobpost.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                        <!--    <button type="submit"
                                    [routerLink]="['/skill', jobpost.id, 'candidates-skills']"
                                    class="btn btn-dark btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">matrice de compétence</span>
                            </button> -->


                            <button type="submit"
                                    [routerLink]="['/jobpost', jobpost.id, 'edit']"
                                    class=" btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jobpost)"
                                    class=" btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
</div>

