<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">


            <div>
                <jhi-alert-error></jhi-alert-error>

                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="form-title">Poste d'emploi</h3>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-lg-7 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="field_title">Titre du poste</label>
                                                    <input type="text" class="form-control" name="title" id="field_title"
                                                           formControlName="title"/>
                                                </div>


                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                            <div class="form-group">
                                                <label class="form-control-label" jhiTranslate="hrmsGatewayApp.jobpostingJobpost.positon" for="field_positon">Positon</label>
                                                <select class="form-control" id="field_positon" name="positon" formControlName="positonId">
                                                    <option [ngValue]="null">poste concerné</option>
                                                    <option [ngValue]="positionOption.id" *ngFor="let positionOption of positons; trackBy: trackById">{{ positionOption.jobTitle }}</option>
                                                </select>
                                            </div>
                                                </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" jhiTranslate="hrmsGatewayApp.jobpostingJobpost.description" for="field_description">Description</label>
                                                    <textarea rows="4" class="form-control" name="description" id="field_description"
                                                              formControlName="description"> </textarea>
                                                </div>

                                            </div>
                                        </div>

                                    <div class="row">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="field_type">Méthode de travail</label>
                                                    <select class="form-control" name="type" formControlName="type" id="field_type">
                                                        <option value="REMOTE">Télétravail</option>
                                                        <option value="ON_SITE">Présentiel</option>
                                                    </select>
                                                </div>


                                            </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="form-group">
                                                <label class="form-control-label"  for="field_estimatedSalary">Salaire mensuel </label>
                                                <input type="number" class="form-control" name="estimatedSalary" id="field_estimatedSalary"
                                                       formControlName="estimatedSalary"/>
                                            </div>

                                        </div>
                                    </div>
                                        <br> <br>
                                    <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label"  for="field_skills">Compétence</label>
                                                    <select class="form-control" id="field_skills" name="skills" formControlName="skillId" multiple>
                                                        <option [ngValue]="null"></option>
                                                        <option [ngValue]="skillOption.id" *ngFor="let skillOption of skills; trackBy: trackById">{{ skillOption.name }}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label"  for="field_employmentType">Type</label>
                                                    <select class="form-control" name="employmentType" formControlName="employmentType" id="field_employmentType">
                                                        <option value="FULL_TIME">Plein temps</option>
                                                        <option value="PART_TIME">mi-temps</option>
                                                        <option value="CONTRACT">contractuel</option>
                                                        <option value="TEMPORARY">temporaire</option>
                                                        <option value="SEASONAL">sesonier</option>
                                                        <option value="INTERNSHIP">Intern</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="field_degreeLevel">Niveau d'étude</label>
                                                    <select class="form-control" id="field_degreeLevel" name="degreeLevel" formControlName="degreeLevelId">
                                                        <option [ngValue]="null">choisir...</option>
                                                        <option [ngValue]="degreeLevelOption.id" *ngFor="let degreeLevelOption of degreelevels; trackBy: trackById">{{ degreeLevelOption.name}}</option>
                                                    </select>
                                                </div>
                                        </div>

                                    </div>
                                        <div class="text-right">
                                            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                            </button>

                                            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                            </button>
                                        </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    </div>

                </section>











            </div>



        </form>
    </div>
</div>
