<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-application-heading" jhiTranslate="hrmsGatewayApp.dataappUserApplication.home.createOrEditLabel">Create or edit a User Application</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmsGatewayApp.dataappUserApplication.userId" for="field_userId">User Id</label>
                    <input type="text" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmsGatewayApp.dataappUserApplication.applicationId" for="field_applicationId">Application Id</label>
                    <input type="number" class="form-control" name="applicationId" id="field_applicationId"
                           formControlName="applicationId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hrmsGatewayApp.dataappUserApplication.jobPostId" for="field_jobPostId">Job Post Id</label>
                    <input type="number" class="form-control" name="jobPostId" id="field_jobPostId"
                           formControlName="jobPostId"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
