<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Sales Chart and browser state-->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->

    <!-- Column -->

</div>
<!-- ============================================================== -->
<!-- End Sales Chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Projects of the Month -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h5 class="card-title">Candidatures</h5>
                    </div>
                    <div class="ml-auto">
                        <select class="custom-select b-0" #t (change) = filterCandidates(t.value) [selectedIndex]="isCurrentMonth()">

                            <option  value="0">Janvier</option>
                            <option value="1">Fevrier</option>
                            <option value="2">Mars</option>
                            <option value="3">Avril</option>
                            <option value="4">Mai</option>
                            <option value="5">Juin</option>
                            <option value="6">Juillet</option>
                            <option value="7">Aout</option>
                            <option value="8">Septembre</option>
                            <option value="9">Octobre</option>
                            <option value="10">Novembre</option>
                            <option value="11">Decembre</option>


                        </select>
                    </div>
                </div>
                <div class="table-responsive m-t-20 no-wrap">
                    <table class="table vm no-th-brd pro-of-month">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                            <th colspan="2">Candidat</th>
                            <th scope="col" jhiSortBy="id" >Email</th>
                            <th>Experience</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let candidate of candidates ;trackBy: trackId">
                            <td style="width:50px;"><span class="round">S</span></td>
                            <td>
                                <h6>{{candidate.fullName}}</h6><small class="text-muted"></small></td>
                            <td>{{candidate.email}}</td>
                            <td>{{ candidate.experienceDurationName}}</td>
                            <td>   <button type="submit"
                                           [routerLink]="['/user_details',  candidate.candidateId,  candidate.id ]"
                                           class=" btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">détails</span>
                            </button></td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card">
            <div class="up-img" style="background-image:url(assets/images/big/img1.jpg)"></div>
            <div class="card-body">
                <h5 class=" card-title">Business development of rules</h5>
                <span class="label label-info label-rounded">Technology</span>
                <p class="m-b-0 m-t-20">Titudin venenatis ipsum aciat. Vestibu ullamer quam. nenatis ipsum ac feugiat. Ibulum ullamcorper.</p>
                <div class="d-flex m-t-20">
                    <a class="link" href="javascript:void(0)">Read more</a>
                    <div class="ml-auto align-self-center">
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o"></i></a>
                        <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-share-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
